html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}
.child {
  border: 5px solid rgb(255, 141, 179);
  width: 30%;
}
@media screen and (max-width: 900px) {
  .parent {
    flex-direction: column;
  }
}
