
* {
  background-color: rgb(3, 3, 5);
  color: rgb(201, 154, 94);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bodoni Moda SC", serif;
  font-style: normal;
  text-align: center;
}
.parent {
  justify-content: space-around;
  font-size: 40px;
  display: flex;
  width: 95vw;
  margin:2rem auto ;
}
.child {
  border: 1px solid rgb(201, 154, 94);
  width: 30%;
}
@media screen and (max-width: 1000px) {
  .parent {
    flex-direction: column;
  }
}
.price {
  font-size: 25px;
}
.grah {
  font-style: italic;
  font-size: 45px;
}
h1 {
  font-size: 105px;
}
.CHICKEN {

}